.container {
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

canvas {
  flex-shrink: 0;
  position: relative;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  transform: translate(1000px, -375px); /* Adjusted to move all the elements to the right */
}

.input-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-container label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-container .input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-container input {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  text-align: center;
  width: 100px;
}

.input-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-container button:hover {
  background-color: #0056b3;
}

.input-container button:active {
  background-color: #00408a;
}

.minus-btn {
  border-radius: 5px 0 0 5px;
}

.plus-btn {
  border-radius: 0 5px 5px 0;
}

#pressval, #oscillationval, #sustainval {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record-button-container {
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}

#record-message {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  background: #ecf0f1;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
  text-align: center;
}

/* Hide element when there is no message */
.hidden {
  display: none;
}


.record-button{
  padding: 20px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #04AA6D;
  color: white;
  border: navy;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

